{% extends "projects/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Guy Tuval<br />
    IAC - Israel Academic Collage in Ramat-Gan,Ramat-Gan israel<br />
    <abbr title="Email">P:</abbr>
    GuyTu95@Gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
