{% extends "projects/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Project PLanner</h1>
    <p class="lead">Welcome to my project planning application.</p>
    <p><a href="/myProjects" class="btn btn-primary btn-large">check your projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>first Example project</h2>
        <p>
            the first example project will be displayed here
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Second Example project</h2>
        <p>the second example will be triggered from here.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create New Project</h2>
        <p>Generate new project using your defenitions.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">New Project &raquo;</a></p>
    </div>

</div>

{% endblock %}
