{% extends "projects/layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<div>
    <h3><strong>{{ project.name|safe }}</strong> {{ project.description|safe }}</h3>

    <div class="container-hierarchy">
        {% for root, sub_tree in tree.items %}
        <div class="jumbotron container-item" style="--level: {{ root.level }};">
            <h4><strong>1</strong> {{ root }} </h4>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Open Form
            </button>
            {% include 'projects/pages/elements/recur_containers.html' with tree=sub_tree level=1 %}
        </div>
        {% endfor %}
    </div>
</div>

<!-- Include the modal HTML here -->
{% include 'projects/pages/elements/modal.html' %}

<style>
    .container-hierarchy {
        width: 100%;
        padding: 10px;
    }

    .container-item {
        --level: 0;
        margin-left: calc(var(--level) * 20px);
    }
</style>
{% endblock %}
