{% extends "projects/layout.html" %}

{% block sidebar %}
<style>
    .sidbar-container {
        z-index: 0;
    }
</style>
<h2>
    change project sorting<br />
    <br>
    <a class="btn btn-primary topic-tag" onclick="href='Topic'">Topics </a>
    <a href="/exploreProjects/owner_ID" class="btn btn-primary topic-tag">Owners</a>

</h2>

<h2>
    watch other Topics<br />
</h2>

<br>
<ul>
    {% for topic in topics%}
    <li><a href="/{{topic}}" class="btn btn-large topic-tag"> {{topic}} &raquo;</a></li>
    {% endfor %}
</ul>

{% endblock %}
{% block content %}
<p>sorted by: {{sorted_by}}</p>

    {% for headline,headline_items in sorted_projects.items %}
<h3>{{ headline }}</h3>
<div class="jumbotron">


    {% for project in headline_items %}

    <h5>
        <strong>{{ project.name|safe }} </strong>
        {{project.description|safe}}
        <a class="btn topic-tag" href="{% url 'userPage' userName=project.owner_ID %}" style="font-size:65%"> &copy; {{ project.created_by }}</a>
        <a href="/updateProject/{{project.ID}} " class="btn topic-tag" style="font-size:65%"> edit &raquo;</a>
    </h5>
    <ul>
        <li> created at {{project.created_at}} </li>
        <li> last updated {{project.last_updated}} </li>
    </ul>
    <a href="/projectView/{{project.ID}}" class="btn btn-primary btn-large">view project &raquo;</a>
    <hr />

    {% endfor %}
</div>

    {% endfor %}

<div class="jumbotron">
    <h3>
        Watch Your Projects
        <button type="button" class="btn btn-large " onclick="location.href='{% url 'myProjects' %}'">
            Click Here!
        </button>
    </h3>
</div>
{% endblock %}
